	<h3>联系我们</h3>
<footer>
    <p>Copyright © 2016 广州众宜牌具有限公司 版权所有</p>
    <p>地址:广州市白云区远景路842号东江大酒店旁边</p>
    <p><span style="color:red;"><a href="tel:13268334858">莫小姐 132-6833-4858</a>&nbsp;&nbsp;QQ:2458828007</span></p>
     <p><img src="__Res__/zhongyi_weixin.jpg" style="width:100%;height:auto;" alt=""></p>

<section class="nav-bottom">
    <ul> 
        <li><a href="/">网站首页</a></li>
        <li><a href="tel:13268334858">咨询热线</a></li>
        <li><a href="sms:13268334858">短信咨询</a></li>
        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=2458828007&site=qq&menu=yes">客服QQ</a></li>
    </ul>
</section>
<div class="topdiv" ></div>

<div style="display:none;">
 <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258265330'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1258265330%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</div>

</footer>

</body>
</html>