<include file="Index/head" />
<main>
<section>
	<div id="slideBox" class="slideBox">
			<div class="hd">
				
			</div>
			<div class="bd">
				<ul>
					<li><a href="/" target="_blank"><img src="__Res__/slider1.jpg" /></a></li>
					<li><a href="/" target="_blank"><img src="__Res__/slider2.jpg" /></a></li>
					<li><a href="/" target="_blank"><img src="__Res__/slider3.jpg" /></a></li>
				</ul>
			</div>

	</div>

		<script type="text/javascript">
		jQuery(".slideBox").slide({mainCell:".bd ul",effect:"leftLoop",autoPlay:true,delayTime:700});
		</script>
</section> 


<section>
<h3>1F 视频演示<span><a href='/index.php/list/index/pid/6'>更多 >></a></span></h3>

<arclist typeid='6' row='12'>

 <dl class='list2'><a href="[url]"><dt><img src="[image]" width="120" height="130" alt="[title]"></dt><dd>[title]</dd></a></dl>

</arclist>

</section>


<section>
<h3>2F 单人操作<span><a href='/index.php/list/index/pid/5'>更多 >></a></span></h3>

<arclist typeid='5' row='12'>

 <dl class='list2'><a href="[url]"><dt><img src="[image]" width="120"  height="90" alt="[title]"></dt><dd>[title]</dd></a></dl>

</arclist>


</section>


<section>
<h3>3F 变牌系列<span><a href='/index.php/list/index/pid/7'>更多 >></a></span></h3>

<arclist typeid='7' row='12'>

 <dl class='list2'><a href="[url]"><dt><img src="[image]" width="120"  height="90" alt="[title]"></dt><dd>[title]</dd></a></dl>

</arclist>


</section>


<section>
<h3>4F 麻将系列<span><a href='/index.php/list/index/pid/13'>更多 >></a></span></h3>

<arclist typeid='7' row='12'>

 <dl class='list2'><a href="[url]"><dt><img src="[image]" width="120"  height="90" alt="[title]"></dt><dd>[title]</dd></a></dl>

</arclist>


</section>


</main>
﻿
<include file="Index/footer" />
