	<div class="footer">
		<div class="footer_pic">
			<img src="__Res__/images/footer_1_03.jpg" alt="">
			<img src="__Res__/images/footer_shu_03.jpg" alt="">
			<img src="__Res__/images/footer_2_03.jpg" alt="">
			<img src="__Res__/images/footer_shu_03.jpg" alt="">
			<img src="__Res__/images/footer_3_03.jpg" alt="">
			<img src="__Res__/images/footer_shu_03.jpg" alt="">
			<img src="__Res__/images/footer_4_03.jpg" alt="">
			<img src="__Res__/images/footer_shu_03.jpg" alt="">
			<img src="__Res__/images/footer_5_03.jpg" alt="">
		</div>
		<div class="con">
			<p>销售代表-邱小姐: <span class='red'>18124267558</span>； 客服QQ
　<a  title="点击这里给我发送QQ消息" href="tencent://message/?uin=2444243586"><span class='red'><img src="__Res__/images/qq.jpg" class='qq' alt="">　2444243586</span></a> 售后服务<span class='red'>020-29883713</span> 意见反馈　<a title='点击这里给我发送QQ消息' href="tencent://message/?uin=800032829"><img src="__Res__/images/qq.jpg" alt="意见反馈" class='qq'><span class='red'>800032829</span></a></p> 
			<p>版权所有　Copyright © 1991 - 2014 永盈牌具娱乐用品有限公司. All Rights Reserved　粤ICP备：101351278871　</p>
			<p>公司地址:广州市白云区三元里大道<span class='red'>909-911号</span>粤海商务中心五楼正厅[远景路口<span class='red'>东江大酒店正对面</span>] [广州火车站坐公交车60路或者840、广州东站坐185、罗冲围客运站坐198、芳村客运站坐26路到<span class='red'>“棠下①站”</span>下过红绿灯斜对面即到、高铁站可以坐地铁2号线“三元里站C1出口”]<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5896169'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/stat.php%3Fid%3D5896169%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></p><script src="http://kefu.qycn.com/vclient/state.php?webid=84444" language="javascript" type="text/javascript"></script>  
		</div> 
	</div> 



<!-- WPA Button Begin 永盈 右下-->
<!-- WPA Button Begin -->
<script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzgwMDAzMjgyOV8zMzQzNTlfODAwMDMyODI5Xw"></script>
<!-- WPA Button End -->


</body>	
</html>