 <div class="AllWrap footer">
        <div class="clear"> </div>
     </div>
     <div style=" margin-bottom:10px; overflow:hidden; text-align:center;"> 
        <div class="themefoot">
           <p style="line-height:24px; font-size:14px;font-family: \5FAE\8F6F\96C5\9ED1; color:#363636"><span style="color:#900; font-size:18px;line-height:30px;"> 
    公司名称：广州信诺娱乐牌具开发有限公司 <br>
    公司地址：广州市白云区远景路842号 （东江大酒店旁边）<br>
	联系电话：181-2783-5272（以上电话为产品业务电话，广告勿扰）
	</span> <br>
    特别提示：本公司已经开通代收货款业务，客户只需来电订货即可，我方即保密发货，一般1--3日内到达。货到付款!<br>
	
    本站客服QQ(3217422376)Copyright 2005-2013 <b style="color:#FF0000">www.gzknpj.com</b> <a href="">牌技文章</a>All Rights Reserved  
   </a></span><br><b style=" color:#FF0000;font-size:20px">为了能更好的为我们的客户服务<br><b style=" color:#FF0000;font-size:28px">公司承诺</b>市内任何地方打的来公司本公司可凭票报销</b><br></p>
        </div>
<!--...................................js浮动窗口........................................ -->

<!--[if lte IE 6]>
<script type="text/javascript">
if(typeof document.compatMode!='undefined'&&document.compatMode!='BackCompat'){
    cot_t1_DOCtp="_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);}";
}else{
    cot_t1_DOCtp="_top:expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);_left:expression(document.body.scrollLeft + document.body.clientWidth - offsetWidth);}";
}
var fdc_bodyCSS='* html {background:url(/kefu/blank.gif) fixed;}';
var fdcCSS='#fdc {position:fixed;';
var fdcCSS=fdcCSS+'_position:absolute;';
var fdcCSS=fdcCSS+'width:100%;';
var fdcCSS=fdcCSS+'bottom:0px;';
var fdcCSS=fdcCSS+'right:0px;';
var fdcCSS=fdcCSS+'clip:rect(0 100% 100% 0);';
var fdcCSS=fdcCSS+cot_t1_DOCtp;
document.write('<style type="text/css">'+fdc_bodyCSS+fdcCSS+'</style>');
</script>
<![endif]-->
<!--[if lte IE 7]>
<script type="text/javascript">
if(typeof document.compatMode!='undefined'&&document.compatMode!='BackCompat'){
    cot_t1_DOCtp="_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);}";
}else{
    cot_t1_DOCtp="_top:expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);_left:expression(document.body.scrollLeft + document.body.clientWidth - offsetWidth);}";
}
var fdc_bodyCSS='* html {background:url(blank.gif) fixed;}';
var fdcCSS='#fdc {position:fixed;';
var fdcCSS=fdcCSS+'_position:absolute;';
var fdcCSS=fdcCSS+'width:100%;';
var fdcCSS=fdcCSS+'bottom:0px;';
var fdcCSS=fdcCSS+'right:0px;';
var fdcCSS=fdcCSS+'clip:rect(0 100% 100% 0);';
var fdcCSS=fdcCSS+cot_t1_DOCtp;
document.write('<style type="text/css">'+fdc_bodyCSS+fdcCSS+'</style>');
</script>
<![endif]-->

<!--[if lte IE 8]>
<script type="text/javascript">
if(typeof document.compatMode!='undefined'&&document.compatMode!='BackCompat'){
    cot_t1_DOCtp="_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);}";
}else{
    cot_t1_DOCtp="_top:expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);_left:expression(document.body.scrollLeft + document.body.clientWidth - offsetWidth);}";
}
var fdc_bodyCSS='* html {background:url(blank.gif) fixed;}';
var fdcCSS='#fdc {position:fixed;';
var fdcCSS=fdcCSS+'_position:absolute;';
var fdcCSS=fdcCSS+'width:100%;';
var fdcCSS=fdcCSS+'bottom:0px;';
var fdcCSS=fdcCSS+'right:0px;';
var fdcCSS=fdcCSS+'clip:rect(0 100% 100% 0);';
var fdcCSS=fdcCSS+cot_t1_DOCtp;
document.write('<style type="text/css">'+fdc_bodyCSS+fdcCSS+'</style>');
</script>
<![endif]-->

<!-- <div id="fdc"> 
  
    <div class="fdcnr"><div class="fdcleft"><a href="http://www.gzknpj.com/special/qianshu.html" target="_blank"><img src="{dede:global.cfg_templets_skin/}/images/02.gif"></a></div>
<div class="fdcleft1">

  </div>
<div class="fdcleft"></div></div> 
  
</div>
 -->

<!-- <div id="sright">
    <div class="srimg"> 
    <a class="s-zixun" href="http://wpa.qq.com/msgrd?v=3&uin=2827087190&site=qq&menu=yes" target="_blank"> </a>
    <a class="s-qq" href="http://wpa.qq.com/msgrd?v=3&uin=2827087190&site=qq&menu=yes" target="_blank"></a>
     <a class="s-line" href="http://www.gzknpj.com/contact/" target="_blank"></a>
    <a class="s-weixin" id="rweixing"><p class="show"><img src="{dede:global.cfg_templets_skin/}/images/wximg.jpg" alt="信诺微信号" title="信诺微信号"></p></a>
 <a class="s-weixin1" id="rweixing1"><p class="show1"><img src="{dede:global.cfg_templets_skin/}/images/zixunrexian.jpg" alt="电话预约" title="电话预约"></p></a>
      
       <a style="border-bottom:none" class="backtop"> </a> </div>
  </div>
<style>
#sright{
	height:310px;
	position: fixed;
	top: 192px;
	left:2px;
	z-index: 9999;
	width:60px;
}

.srimg{
	background:url("http://www.gzknpj.com/images/newstyleimg.png") #225337 repeat;
	width:60px;
	height:352px;
}

#sright .srimg a{
	width:60px;
	height:58px;
	display:block;
	border-bottom:2px solid #FFF;
	cursor:pointer;
}

#sright .srimg .s-zixun:hover{background:url("http://www.gzknpj.com/images/newstyleimg.png") 0 0 #158c51 no-repeat;}
#sright .srimg .s-qq:hover{background:url("http://www.gzknpj.com/images/newstyleimg.png") 0 -60px  #158c51 no-repeat;}
#sright .srimg .s-line:hover{background:url("http://www.gzknpj.com/images/newstyleimg.png") 0 -120px #158c51 no-repeat;}
#sright .srimg .s-weixin:hover{background:url("http://www.gzknpj.com/images/newstyleimg.png") 0 -180px #158c51 no-repeat;}
#sright .srimg .s-weixin1:hover{background:url("http://www.gzknpj.com/images/newstyleimg.png") 0 -240px #158c51 no-repeat;}
#sright .srimg .s-tel:hover{background:url("http://www.gzknpj.com/images/newstyleimg.png") 0 -240px #158c51 no-repeat;}

#sright .srimg .s-weixin p{
	display:none;
}
#sright .srimg .s-weixin p img{
	border:1px solid #ccc;
}
#sright .srimg .s-weixin:hover p{
	display:block;
	position:absolute;
	top:156px;
	right:-177px;
}
#sright .srimg .s-weixin1 p{
	display:none;
}
#sright .srimg .s-weixin1 p img{
	border:1px solid #ccc;
}
#sright .srimg .s-weixin1:hover p{
	display:block;
	position:absolute;
	top:240px;
	right:-155px;
}
</style>
        </div>

<div class="FormWrap goods-compare" id="goods-compare" style="display:none">
<div class="title"><h3>鍟嗗搧瀵规瘮<span class="close-gc" onclick="gcompare.hide()">[鍏抽棴]</span></h3></div>
<form action="" method="post" target="_compare_goods">
<input type="hidden" name="t" value="1432023961256">
<ul class="compare-box">
<li class="division clearfix tpl">
<div class="span-3">
<a href="http://www.gzknpj.com/#" gid="{gid}" title="{gname}">{gname}</a>
</div>
<span class="floatRight lnk" onclick="gcompare.erase("{gid}",this);">鍒犻櫎</span>
</li>
</ul>
<div class="compare-bar">
<input type="button" name="comareing" onclick="gcompare.submit()" class="btn-compare" value="瀵规瘮">
<input type="button" class="btn-compare" onclick="gcompare.empty()" value="娓呯┖">
</div>
</form>
</div>	 -->



<script>

    $(function(){
        var online = 0;
        $.ajax({
          url: "http://www.gzknpj.com/aman.php/Public/checkKefuStatus/username/xinnuo",
          type: 'GET',
          dataType: 'html',
          success: function (data) {
              if(data == 0){
                // 改变背景
                $(".kefu_status").css("background","url(http://www.gzknpj.com/Cms/Home/View/kn/Resource/kefufalse.png) no-repeat");
                $(".kefu_status3").css("background","url(http://www.gzknpj.com/Public/images/kefu_offline.jpg) no-repeat");
                // 改变链接
                var link = '<a  class="toMessage" href="javascript:void(0);"></a>';
                $(".img_box").html(link);
                $(".toMessage").click(function(){
                    window.open('http://www.gzknpj.com/aman.php/Public/guest/username/xinnuo','','width=964,height=620,toolbar=no, status=no, menubar=no, resizable=yes, scrollbars=yes,location=no,top=100,left=300');
                    return false;
                });
            }else{
                return false;
            }
        }
      });

    });

</script>





<!-- WPA Button Begin 广州信诺-->
<!-- <script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzgwMDAzMjgyOV8zODQ4NTZfODAwMDMyODI5Xw"></script> -->
<!-- WPA Button End -->

<script src="http://s95.cnzz.com/stat.php?id=1256458717&web_id=1256458717" language="JavaScript"></script>
</body></html>