<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--<base target="_blank">--><base href="/" target="_blank">
<title>{$aidInfo['title']}_广州最早的单人操作生产批发企业</title>
<meta name="description" content="">
<meta name="keywords" content="">

<style id="widwidgets_261_style">
</style>
<link rel="stylesheet" href="__Res__/style.css" type="text/css">
<link rel="stylesheet" href="__Res__/widget.css" type="text/css">
<script type="text/javascript">

var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");

var browser = navigator.userAgent.toLowerCase(); 

var isMobile = false; 

for (var i=0; i<mobileAgent.length; i++){ if (browser.indexOf(mobileAgent[i])!=-1){ isMobile = true; 

// alert(mobileAgent[i]); 

location.href = 'http://m.gzknpj.com/';

break; } } 

</script>
<script type="text/javascript">
var Shop = {"set":{"path":"\/","buytarget":"3","dragcart":null,"refer_timeout":15},"url":{"addcart":"","shipping":"","payment":"","total":"","viewcart":"","ordertotal":"","applycoupon":"","diff":""}};
</script>
<script type="text/javascript" src="http://www.nanxunpaiju.com/home/views/nx/resource/images/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="__Res__/tools.js"></script>
<script type="text/javascript" src="__Res__/goodscupcake.js"></script>
<link rel="stylesheet" type="text/css" href="__Res__/css.css">
<link rel="stylesheet" type="text/css" href="__Res__/slideshow.css">
</head>

<style>
li{
    list-style-type: none;
}
@media screen and (max-width:1000px){
    .piaofu{
        display: none;
    }
} 

.piaofu{
    width: 223px;
    height:563px;
    position: absolute;
    top: 150px;
    left: 20px;
    overflow: hidden;
    z-index: 9999999;
}
.piaofu ul{
    width: 223px;
    height: 563px;
    padding-left: 4px;
padding-top: 58px;
    position: absolute;
    float: left;
       background:url(http://www.yongyingpaiju.com/public/erweima/xinnuo.gif)  no-repeat; 
}
.piaofu ul li{
    width: 150px;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
}
.piaofu ul li.img_box{
    width: 65px;
    height: 33px;
    padding: 0px 0px 0px 14px;
}
.piaofu ul li.img_box a{
    /*background: red;*/
    width: 88px;
    height: 20px;
    display: block;;
}

.piaofu ul li p{
    width: 173px;
    margin-left: 4px;
    font-weight: bold;
}

</style>



<style>

@media screen and (max-width:1000px){
    .piaofu2{
        display: none;
    }
} 

.piaofu2{
    width: 191px;
    height:563px;
    position: absolute;
    top: 150px;
    right: 20px;
    overflow: hidden;
    z-index: 9999999;
}
.piaofu2 ul{
    width: 191px;
    height: 563px;
    padding-right: 4px;
    padding-top: 58px;
    position: absolute;
    float: left;
    background:url(http://www.gzknpj.com/Cms/Home/View/kn/Resource/kefu.png)  no-repeat; 
}
.piaofu2 ul li{
    width: 150px;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
}
.piaofu2 ul li.img_box{
    width: 65px;
    height: 33px;
    padding: 0px 0px 0px 14px;
}
.piaofu2 ul li.img_box a{
    /*background: red;*/
    width: 140px;
    height: 221px;
    display: block;;
}

.piaofu2 ul li p{
    width: 173px;
    margin-left: 4px;
    font-weight: bold;
}

</style>




    <div class="piaofu">
        <!-- <ul style="background:pink"> -->
        <ul>
                <li class="img_box "><a target="_blank" style="" href="http://wpa.qq.com/msgrd?v=3&uin=3217422376&site=qq&menu=yes"></a></li> 

        </ul>
    </div>      
 <script type="text/javascript">  
     $(document).ready(function() {  
         //滚动条事件  
         $(window).scroll(function() {  
             //获取窗口一半的高度+滚动条高度  
             var offsetTop = $(window).scrollTop() + $(window).height() /5;  
             //改变样式 显示   
             $(".piaofu").show();  
             //改变样式 top 高度  
             $(".piaofu").animate({ top: offsetTop + "px" }, { duration: 600, queue: false });  
             //改变left 位置  
             $(".piaofu").animate({ left:20}, { duration: 600, queue: false });  
         });  
     });  

     // 获取xy
// 设置xy
$(function(){
    function Scorll(){
        var piaofu = $('.piaofu');
        var piaofu_left = piaofu.offset().left;
        var piaofu_top = piaofu.offset().top;
        piaofu.animate({left:'50',top:'200'});
    }
});
   
 </script>







 <div class="piaofu2">
        <!-- <ul style="background:pink"> -->
        <ul class="kefu_status">
                <li class="img_box "><a href=# onClick="javascript:window.open('http://www.gzknpj.com/aman.php/Public/client/username/xinnuo','','width=964,height=625,toolbar=no, status=no, menubar=no, resizable=yes, scrollbars=yes,location=no,top=100,left=300');return false;"></a></li> 
        </ul>
    </div>      
 <script type="text/javascript">  
     $(document).ready(function() {  
         //滚动条事件  
         $(window).scroll(function() {  
             //获取窗口一半的高度+滚动条高度  
             var offsetTop = $(window).scrollTop() + $(window).height() /5;  
             //改变样式 显示   
             $(".piaofu2").show();  
             //改变样式 top 高度  
             $(".piaofu2").animate({ top: offsetTop + "px" }, { duration: 600, queue: false });  
             //改变left 位置  
             $(".piaofu2").animate({ right:20}, { duration: 600, queue: false });  
         });  
     });  

     // 获取xy
// 设置xy
$(function(){
    function Scorll2(){
        var piaofu2 = $('.piaofu2');
        var piaofu_left2 = piaofu2.offset().right;
        var piaofu_top2 = piaofu2.offset().top;
        piaofu2.animate({right:'50',top:'200'});
    }
});
   
 </script>

<body>

<div class="top_body">
<div class="AllWrap headerInfo">
	<div class="qingtop">
    	<a style="color: rgb(204, 0, 0);" href="###">会员中心</a>|<a href="###">客户留言</a>|<a href="###">关于我们</a>|<a href="###">收藏本站</a>|<a href="###">帮助中心</a>
    </div>
    <div class="logo">
    	<div class="AdvBanner">
        	<a href="###" target="_blank"> <img src="__Res__/logo.png" style=""> </a>
        </div>
    </div>
    <div class="searchbar">
    	
    </div>
    <div class="sszdy">
    	热门搜索： <volist name='p6' id='vo' offset='34' length='3'>
                <a href="__APP__/article/index/aid/{$vo.id}" type="url" target="_blank"> {$vo.title}</a>|
              </volist>
    </div>
    <div class="qingtell">
    	<div class="AdvBanner">
        	<a href="###" target="_blank"> <img src="__Res__/tell.png" style=""> </a>
        </div>
    </div>
    <div class="loginbar" style="width:600px">您好<span id="uname_widgets_260"></span>！  <span id="loginBar_widgets_260">  <a href="/#">[请登录]</a>    <a href="/#">[免费注册]</a> </span>  </div>
    <div class="qingfl">
        <ul id="sddm">
            <li><a class="qian" href="/#" onmouseover="mopen('m1')" onmouseout="mclosetime()">全部商品分类</a>
            	<div id="m1" onmouseover="mcancelclosetime()" onmouseout="mclosetime()" style="visibility: hidden;"> <a class="hou" href="/">全部商品分类</a>
                	<div class="tanchu">
                    	<div class="DuceDropNavs">
                        	<ul>
                            <li class="m-cat-depth-1 ">
                                	<a class="depth-1" href="/a/danren_caozuo/"><em>单人操作分析仪<br> <b><i>AKK扑克分析仪 </i><i>麻将牌九筒子分析仪 </i><i>普通扑克分析仪 </i><i>金花扑克分析仪 </i><i>斗牛扑克分析仪 </i><i>三公扑克分析仪 </i><i>番摊分析仪 </i></b> </em></a>

                                    <ul class="m-cat-popup" style="display: none; margin: 0px 0px 0px 206px;">
                                    	<div class="hei">
                                        	<ul class="m-cat-drop-2">
                                            	<div style="color:#336600; font-weight:bold;">分类</div>
                                                    {dede:arclist  row='4' typeid='12' orderby="top"}
                                                	<a href="[field:arcurl/]">[field:title/]</a>
                                                    {/dede:arclist}
                                            <div class="clear"></div>
                                            </ul>
                                        </div>
                                        <div class="bai"></div>
                                    </ul>
                               </li>
                               <li class="m-cat-depth-1 ">
                                	<a class="depth-1" href="/a/chanpinshipin/"><em>必胜绝技演示<br> <b><i>扑克必胜 </i><i>麻将出千 </i><i>超强分析仪 </i><i>iphone6智能一体机 </i><i>天衣无缝扫描 </i><i>饮料瓶镜头 </i><i>打火机等镜头 </i></b> </em></a>
                                    <ul class="m-cat-popup" style="display: none; margin: 0px 0px 0px 206px;">
                                    	<div class="hei">
                                        	<ul class="m-cat-drop-2">
                                            	<div style="color:#336600; font-weight:bold;">分类</div>
                                                	{dede:arclist  row='4' typeid='13' orderby="top"}
                                                    <a href="[field:arcurl/]">[field:title/]</a>
                                                    {/dede:arclist}  
                                            <div class="clear"></div>
                                            </ul>
                                        </div>
                                        <div class="bai"></div>
                                    </ul>
                               </li>
                              <li class="m-cat-depth-1 ">
                                	<a class="depth-1" href="/a/jingtouxilie/"><em>隐形透视眼镜<br> <b><i>美国隐形眼镜 </i><i>韩国隐形眼镜 </i><i>英国隐形眼镜 </i><i>博士伦隐形眼镜 </i><i>高清隐形眼镜 </i><i>白光隐形眼镜 </i></b> </em></a>
                                    <ul class="m-cat-popup" style="display: none; margin: 0px 0px 0px 206px;">
                                    	<div class="hei">
                                        	<ul class="m-cat-drop-2">
                                            	<div style="color:#336600; font-weight:bold;">分类</div>
                                                	{dede:arclist  row='4' typeid='14' orderby="top"}
                                                    <a href="[field:arcurl/]">[field:title/]</a>
                                                    {/dede:arclist}   
                                            <div class="clear"></div>
                                            </ul>
                                        </div>
                                        <div class="bai"></div>
                                    </ul>
                               </li>

                               <li class="m-cat-depth-1 ">
                                	<a class="depth-1" href="/a/bianpai_xilie/"><em>白光透视扑克定制<br> <b><i>姚记白光扑克 </i><i>宾王白光扑克 </i><i>三A白光扑克 </i><i>钓鱼白光扑克 </i><i>正点白光扑克 </i><i>敦煌白光扑克 </i><i>万盛达白光扑克 </i><i>千人王白光扑克 </i><i>其他白光扑克 </i></b> </em></a>
                                    <ul class="m-cat-popup" style="display: none; margin: 0px 0px 0px 206px;">
                                    	<div class="hei">
                                        	<ul class="m-cat-drop-2">
                                            	<div style="color:#336600; font-weight:bold;">分类</div>
                                                	{dede:arclist  row='4' typeid='15' orderby="top"}
                                                    <a href="[field:arcurl/]">[field:title/]</a>
                                                    {/dede:arclist} 
                                            <div class="clear"></div>
                                            </ul>
                                        </div>
                                        <div class="bai"></div>
                                    </ul>
                               </li>


                               <li class="m-cat-depth-1 ">
                                	<a class="depth-1" href="/a/chuantouxilie/"><em>进口白光显形镜<br> <b><i>高清显形药水 </i><i>常见扑克显形效果 </i><i>各种扑克麻将显形效果 </i><i>进口纳米不限光显形镜 </i><i>正点密码牌 </i><i>敦煌密码牌 </i><i>万盛达密码牌 </i><i>千人王密码牌 </i><i>其他密码扑克 </i></b> </em></a>
                                    <ul class="m-cat-popup" style="display: none; margin: 0px 0px 0px 206px;">
                                    	<div class="hei">
                                        	<ul class="m-cat-drop-2">
                                            	<div style="color:#336600; font-weight:bold;">分类</div>
                                                	{dede:arclist  row='4' typeid='16' orderby="top"}
                                                    <a href="[field:arcurl/]">[field:title/]</a>
                                                    {/dede:arclist}  
                                            <div class="clear"></div>
                                            </ul>
                                        </div>
                                        <div class="bai"></div>
                                    </ul>
                               </li>

                                <li class="m-cat-depth-1 ">
                                	<a class="depth-1" href="/a/paijiutongzi/"><em>最新雷达扫描筒子<br> <b><i>变牌器 </i><i>变牌包 </i><i>变牌桌 </i><i>变牌衣 </i><i>变牌裤 </i><i>变牌鬼手 </i></b> </em></a>
                                    <ul class="m-cat-popup" style="display: none; margin: 0px 0px 0px 206px;">
                                    	<div class="hei">
                                        	<ul class="m-cat-drop-2">
                                            	<div style="color:#336600; font-weight:bold;">分类</div>
                                                	{dede:arclist  row='4' typeid='17' orderby="top"}
                                                    <a href="[field:arcurl/]">[field:title/]</a>
                                                    {/dede:arclist}   
                                            <div class="clear"></div>
                                            </ul>
                                        </div>
                                        <div class="bai"></div>
                                    </ul>
                               </li>
                                <li class="m-cat-depth-1 ">
                                	<a class="depth-1" href="/a/majiangzhuoxilie/"><em>麻将牌九色子<br> <b><i>全自动麻将桌 </i><i>百变之王无缝变牌麻将桌 </i><i>密码麻将牌 </i><i>白光牌九 </i><i>密码牌九 </i><i>四口程序麻将机 </i></b> </em></a>
                                    <ul class="m-cat-popup" style="display: none; margin: 0px 0px 0px 206px;">
                                    	<div class="hei">
                                        	<ul class="m-cat-drop-2">
                                            	<div style="color:#336600; font-weight:bold;">分类</div>
                                                	{dede:arclist  row='4' typeid='18' orderby="top"}
                                                    <a href="[field:arcurl/]">[field:title/]</a>
                                                    {/dede:arclist}   
                                            <div class="clear"></div>
                                            </ul>
                                        </div>
                                        <div class="bai"></div>
                                    </ul>
                               </li>
                              </ul>
                              <div class="clear"></div>
                        </div>
                      <script>
window.addEvent('domready',function(e){
	$('widwidgets_261_style').inject($E('link'), 'before');
	var cats = $ES('.DuceDropNavs .m-cat-depth-1');
	if(!cats[0]) return;

	cats.each(function(cat, i){
		var popup = cat.getElement('.m-cat-popup');
		if(popup){
			cat.addEvents({
				'mouseenter':function(){
					this.addClass('current');
					var li = this.getSize();
					popup.setStyles({
						'display':'block',
						'margin': '-'+0+'px 0 0 '+(li.x-0)+'px'
					});
				},
				'mouseleave':function(){
					this.removeClass('current');
					popup.setStyle('display','none');
				}
			});
		}
	});
})
</script> </div>
				</div>
            </li>
         </ul>
    </div>
    <div class="qingdh" id="Menu">
    	<ul class="MenuList">
                <li><a href="/" >网站首页</a></li>
            <volist name='data' id='data'>
                <li><a href="__APP__/list/index/pid/{$data.id}" >{$data.title}</a></li>
            </volist>
        </ul>
	</div>
    </div>
</div>