<include file='Index/head' />

<div padding-rigt='10' class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" 
          href="#collapseOne">
          留言管理
        </a>
      </h4>
    </div>

    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="list-group">
    			<li class="list-group-item"><a href="__APP__/Message/index" target="main">我的访客留言</a></li>
    			<li class="list-group-item"><a href="__APP__/Message/showMessage/status/0" target="main">未处理的访客留言</a></li>
    			<li class="list-group-item"><a href="__APP__/Message/showMessage/status/1" target="main">已处理的访客留言</a></li>
  		</ul>
      </div>
    </div>
  </div>


</div>