<include file='Index/head' />
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-5">
						<h2 class="text-center">选择要操作的数据表</h2>
						<hr>
						<div class="row">
							<div class="col-xs-12">
								<select  class='form-control select_column'>
									<volist name='data' id='list'>
											<option value="{$list.tables_in_amancms}" class="form-control">{$list.tables_in_amancms}</option>
									</volist>
								</select>
									<script>
									$(".select_column").change(function(data){
										var tableName = $(this).val();
										// 获取该数据表的所有字段
										$.post("__URL__/replaceData",{"tableName":tableName},
													function(data)
													{
														var options;
														for (var i = 0 ; i <= data.length - 1; i++) {
															options += "<option value='"+data[i]+"'>"+data[i]+"</option>"
														};
														$("#column").html(options);
													}
											  );
									});
								
								</script>
							</div>
						</div>
				<br>
					<div class="row">
						<div class="col-xs-12">
							<form action='__URL__/doReplace' method='post' class="form-horizontal" role="form">
							<input type="hidden" id='tableName' name="tableName" value="" />
							<div class="form-group">
							      <label for="column" class="col-xs-3 control-label">替换的字段：</label>
								      <div class="col-xs-9">
								        	<select name="column" id="column" class='form-control'>
								        		<option value="null">请选择数据表</option>
								        	</select>
								      </div>
							   </div>


							   <div class="form-group">
							      <label for="before" class="col-xs-3 control-label">替　换　前：</label>
							      <div class="col-xs-9">
							         <input type="text" class="form-control" name='before' id="before" 
							            placeholder="替换前的内容">
							      </div>
							   </div>


								<div class="form-group">
							      <label for="after" class="col-xs-3 control-label">替　换　后：</label>
								      <div class="col-xs-9">
								   			<input type="text" class="form-control" name='after' id="after" 
							            placeholder="替换后的内容">
							      	  </div>
							   </div>
							   
							   <div class="form-group">
							      <div class="col-xs-offset-2 col-xs-10">
							         <button type="submit" class="btn btn-success"><span class='glyphicon glyphicon-ok'></span> 提交</button>
							         <button type="reset"  class="btn btn-info"><span class='glyphicon glyphicon-refresh'></span> 重置</button>
							      </div>
							   </div>

							</form>
						</div>

					</div>
				</div>

				<div class="col-xs-6">
					数据库备份、还原
				</div>
			</div>
		</div>
</div>