<include file="Index/head" />

<div padding-rigt='10' class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" 
          href="#collapseOne">
         文档栏目
        </a>
      </h4>
    </div>

    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="list-group">
			<li class="list-group-item"><a href="__APP__/Column/add" target="main">添加栏目</a></li>
			<li class="list-group-item"><a href="__APP__/Column" target="main">栏目列表</a></li>
          <li class="list-group-item"><a href="__APP__/Article/add" target="main">添加文章</a></li>
      <li class="list-group-item"><a href="__APP__/Article" target="main">文章列表</a></li>
		</ul>
      </div>
    </div>
  </div>
</div>


    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" 
          href="#collapseFiles">
          文件管理
        </a>
      </h4>
    </div>
    <div id="collapseFiles" class="panel-collapse collapse in">
      <div class="panel-body">
	<ul class="list-group">
		<li class="list-group-item"><a href="__APP__/File/index" target="main">文件管理器</a></li>
	</ul>

      </div>
    </div>
  </div>