<include file='Index/head' />
<form action="__URL__/setConfig" method='post' >
<div class="col-sm-12">
	<div class="col-sm-1"></div>
	<div class="col-sm-8">
		<table class="table table-bordered">
		   <caption><h3><span class='label label-success'>基本配置</span></h3></caption>
		   <thead>
		      <tr>
		         <th>配置项</th>
		         <th>配置值</th>
		      </tr>
		   </thead>
		   <tbody>
		      <tr>
		         <td><h4>网站域名:</h4></td>
		         <td><input type="text" class="form-control" name='DOMAINS' value="{$data.DOMAINS}"></td>
		      </tr>

		      <tr>
		         <td><h4>IP地址:</h4></td>
		         <td><input type="text" class="form-control" name='IP_ADDER' value="{$data.IP_ADDER}"></td>
		      </tr>	

		      <tr>
		         <td><h4>前台默认模板:</h4></td>
		         <td><input type="text" class="form-control" name='DEFAULT_TPL' value="{$data.DEFAULT_TPL}"></td>
		      </tr>	

		      <tr>
		         <td><h4>开启静态缓存:</h4></td>
		         <td><input type="text" class="form-control" name='HTML_CACHE_ON' value="{$data.HTML_CACHE_ON}"></td>
		      </tr>	
		      
		     <tr>
		         <td><h4>缓存有效期(秒):</h4></td>
		         <td><input type="text" class="form-control" name='HTML_CACHE_TIME' value="{$data.HTML_CACHE_TIME}"></td>
		      </tr>	
			<tr>
		         <td><h4>缓存文件后缀:</h4></td>
		         <td><input type="text" class="form-control" name='HTML_FILE_SUFFIX' value="{$data.HTML_FILE_SUFFIX}"></td>
		      </tr>	



		   </tbody>
		</table>
	</div>
</div>









<div class="col-sm-12">
	<div class="col-sm-1"></div>
	<div class="col-sm-8">
<table class="table table-bordered">
		   <caption><h3><span class='label label-success'>链接配置</span></h3></caption>
		   <thead>
		      <tr>
		         <th>配置项</th>
		         <th>配置值</th>
		      </tr>
		   </thead>
		   <tbody>
		      <tr>
		         <td><h4>链接类型:</h4></td>
		         <td><input type="text" class="form-control" name='DB_TYPE' value="{$data.DB_TYPE}"></td>
		      </tr>
		      <tr>
		         <td><h4>服务器:</h4></td>
		         <td><input type="text" class="form-control" name='DB_HOST' value="{$data.DB_HOST}"></td>
		      </tr>

		      <tr>
		         <td><h4>用户名:</h4></td>
		         <td><input type="text" class="form-control" name='DB_USER' value="{$data.DB_USER}"></td>
		      </tr>	

		      <tr>
		         <td><h4>数据库名:</h4></td>
		         <td><input type="text" class="form-control" name='DB_NAME' value="{$data.DB_NAME}"></td>
		      </tr>	

		      <tr>
		         <td><h4>密码:</h4></td>
		         <td><input type="text" class="form-control" name='DB_PWD' value="{$data.DB_PWD}"></td>
		      </tr>

		      <tr>
		         <td><h4>端口:</h4></td>
		         <td><input type="text" class="form-control" name='DB_PORT' value="{$data.DB_PORT}"></td>
		      </tr>

		      <tr>
		         <td><h4>前缀:</h4></td>
		         <td><input type="text" class="form-control" name='DB_PREFIX' value="{$data.DB_PREFIX}"></td>
		      </tr>

		      <tr>
		         <td><h4>链接编码:</h4></td>
		         <td><input type="text" class="form-control" name='DB_CHARSET' value="{$data.DB_CHARSET}"></td>
		      </tr>

		      <tr>
		         <td><h4>调试模式:</h4></td>
		            <td>
			         	<switch name='data.DB_DEBUG'>

			         		<case value='true'>
							   	<label>
							      <input type="radio" name="DB_DEBUG" 
							         value="true" checked> 开启
							   </label>
							   	<label>
							      <input type="radio" name="DB_DEBUG" 
							         value="false"> 关闭
							   </label>
							   </case>

			         		<default />
							   	<label>
							      <input type="radio" name="DB_DEBUG" 
							         value="true" > 开启
							   </label>
							   	<label>
							      <input type="radio" name="DB_DEBUG" 
							         value="false" checked> 关闭
							   </label>

			         	</switch>
					</td>
		      </tr>

		   </tbody>
		</table>
	</div>
</div>





<div class="col-sm-12">
	<div class="col-sm-1"></div>
	<div class="col-sm-8">
		<table class="table table-bordered ">
		   <caption><h3><span class='label label-success'>上传设置</span></h3></caption>
		   <thead>
		      <tr>
		         <th>配置项</th>
		         <th>配置值</th>
		      </tr>
		   </thead>
		   <tbody>

		       <tr>
		         <td><h4>水印设置:</h4></td>
		         <td>
					   	
					   <switch name='data.WATER_MARK'>

			         		<case value='true'>
							   	<label>
							      <input type="radio" name="WATER_MARK" 
							         value="true" checked> 开启
							   </label>
							   	<label>
							      <input type="radio" name="WATER_MARK" 
							         value="false"> 关闭
							   </label>
							   </case>

			         		<default />
							   	<label>
							      <input type="radio" name="WATER_MARK" 
							         value="true" > 开启
							   </label>
							   	<label>
							      <input type="radio" name="WATER_MARK" 
							         value="false" checked> 关闭
							   </label>

			         	</switch>
				</td>
		      </tr>
		      <tr>
		         <td><h4>水印位置:</h4></td>
		         <td>
		         	<p>
		         		<label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="WATER_POSITION" class="7" value="7">顶部左上</label><label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="WATER_POSITION" class="8" value="8">顶部居中</label><label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="WATER_POSITION" class="9" value="9">顶部右上</label>
		         	</p>
		         	<p>
		         		<label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="WATER_POSITION" class="1" value="4">中部左边</label><label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="WATER_POSITION" class="1" value="5">中部居中</label><label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="WATER_POSITION" class="1" value="6">中部右边</label>
		         	</p>
		         	<p>
		         		<label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="WATER_POSITION" class="1" value="1">底部左边</label><label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="WATER_POSITION" class="1" value="2">底部居中</label><label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="WATER_POSITION" class="1" value="3" >底部右边</label>
		         		<script>
		         		alert(1);
		         			$('.7').attr("checked");
		         		</script>
		         	</p>
		         </td>
		      </tr>
		      <tr>
		         <td><h4>允许上传的类型:</h4></td>
		         <td><input type="text" class="form-control" name='ALLOW_TYPE' value="{$data.ALLOW_TYPE}"></td>
		      </tr>

		      <tr>
		         <td><h4>缩略图宽度:</h4></td>
		         <td><input type="text" class="form-control" name='IMG_WIDTH' value="{$data.IMG_WIDTH}"></td>
		      </tr>	

		      <tr>
		         <td><h4>缩略图高度:</h4></td>
		         <td><input type="text" class="form-control" name='IMG_HEIGHT' value="{$data.IMG_HEIGHT}"></td>
		      </tr>	

		      <tr>
		         <td><h4>最大上传限制(Kb):</h4></td>
		         <td><input type="text" class="form-control" name='MAX_SIZE' value="{$data.MAX_SIZE}"></td>
		      </tr>	
				
		   </tbody>
		</table>
	</div>
</div>







<div class="col-sm-12"><br><br></div>
<div class="col-sm-12 submit" style=' width: 100%;position: fixed;bottom: 0px;left: 0px;margin-bottom: 5px;'>
	<div class="col-sm-1"></div>
	<div class="col-sm-2">
		<button class='btn btn-success'>提交修改</button>　　<a href="__URL__/" class='btn btn-danger'>返回</a>
	</div>
</div>

<script>
	
</script>
	
</form>