.zxlx{ float:left;width:230px; height:70px; color:#666;}
.zxlx p { font-size:12px; padding-left:30px; height:20px; line-height:20px; margin-top:5px; font-family:"??им?"; }
.zxlx p a{ display:block; height:20px; line-height:20px; float:right; margin-right:20px;}
.zxlx a { text-decoration:none;color:#666;margin-top:3px}
.zxlx p img{ width:20px;}
.gsdz { float:left;width:230px; height:215px; color:#666;}
.gsdz p{ font-size:12px; padding-left:10px; line-height:28px}
.gsdz p span { font-weight:600; }
.nonal{ font-style:normal; }
.talk{margin-top:10px; display:block;padding-top:10px;}
.QQ{float:right;margin-right:70px;}