/*后台main主体内容*/
*{
	border:0;
	padding:0;
	margin:0;
}
body{
	overflow-x:hidden;
}

}
.system_info{
	margin-top: 50px;
}

.system_info li{
	list-style-type:none;
	line-height: 35px;
}
.system_info li .right{
	float: right;
}