<include file="Index/head" />

<div class="col-lg-11">
	<div class="col-lg-12">
		<table class='table table-bordered  table-hover'>
			<caption><h1>用户组列表</h1></caption>
			<tr><th>组ID号</th><th>组名</th><th>备注</th><th>状态</th><th>创建日期</th><th>操作</th></tr>
			<volist name='data' id='list'>
				<tr>
					<td>{$list.id}</td>
					<td>{$list.name}</td>
					<td>{$list.remark}</td>
					<td>
						<switch name="list.status" >
							<case value="1">已开启</case>
							<case value="0">已禁用</case>
							<default />无法判断状态
						</switch>
					</td>
					<td>{$list.ctime|date="Y-m-d",###}</td>
					<td>
						<a href="__URL__/modAccess/username/{$list.name}/group_id/{$list.id}/remark/{$list.remark}" class='btn btn-warning btn-xs'>编辑权限</a> | 
						<a href="__URL__/modGroup/id/{$list.id}" class='btn btn-info btn-xs'>修改信息</a> | 
						<a href="__URL__/delGroup/id/{$list.id}" class='btn btn-danger btn-xs'>删除</a>
					</td>
				</tr>
			</volist>
		</table>
	</div>
</div>
