<!-- 刘满 635549913@qq.com 2015-01-29 16:07:30; -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="Keywords" content="玩牌绝技，扑克千术,最新扑克麻将,高科技娱乐产品,打牌技巧,玩牌绝技,扑克必胜绝招,斗牛赢钱绝技,玩三公高科技,普通扑克怎么变牌,麻将变牌原理,普通牌知点仪,普通牌分析仪,普通牌的透视眼镜">
<meta name="description" content="广州专业娱乐牌具用品厂家常年提供打牌技巧，玩牌绝技，扑克千术以及最新扑克麻将高科技娱乐产品。广州诚信娱乐，让您赢得有把握！服务热线：40011-78078">

	<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
	<link rel="stylesheet" href="__Res__/style/base.css">
	<title>myl头部</title>
</head>
<body>
	<div class="top_title"><span><!-- <img src="__APP__/{$Think.const.THEME_NAME}/images/phone.png" alt="扑克必胜绝招"> --></span><p>直接点击拨打免费热线</p><a href="tel:18124267558">18124267558</a>
	</div>
	
	<div class="clear"></div>
	
	<div class="logo"><a href="/"><img src="__Res__/images/logo.png" width="310" height="90" alt="专业牌具厂家"></a></div>
	
	<div class="clear"></div>
	<div class="channel">
		<ul>
			<volist name='data' id='data'>
				<li><a href="__APP__/list/index/pid/{$data.id}" > {$data.title} </a></li>
			</volist>
		</ul>
	</div>
	<div class="clear"></div>
	<div class="top_title"><span><!-- <img src="__APP__/{$Think.const.THEME_NAME}/images/phone.png" alt="玩牌绝技"> --></span><p>直接点击拨打免费热线</p><a href="tel:18124267558">18124267558</a>
	</div>
	<div class="clear"></div>