	<h3>联系我们</h3>
<footer>
    <p>Copyright © 2016 广州信诺牌具有限公司 版权所有</p>
    <p>地址:广州市白云区远景路842号东江大酒店旁边</p>
    <p><span style="color:red;">郑小姐 手机:181-2783-5272&nbsp;&nbsp;QQ:3217422376</span></p>
    <p><img src="__Res__/xinnuo_weixin.jpg" alt="" style="width:100%;height:auto;"></p>
<section class="nav-bottom">
    <ul> 
        <li><a href="/">网站首页</a></li>
        <li><a href="tel:18127835272">咨询热线</a></li>
        <li><a href="sms:18127835272">短信咨询</a></li>
        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=3217422376&site=qq&menu=yes">客服QQ</a></li>
    </ul>
</section>
<div class="topdiv" ></div>

<div style="display:none;">
  <script src="http://s95.cnzz.com/stat.php?id=1256458717&web_id=1256458717" language="JavaScript"></script>
</div>

</footer>

</body>
</html>