<include file='Public/head' />
<div class="main_list">
  <div class="position">您的当前位置： {$position} </div>
   <div class="left">
      <volist name='list' id='vo'>
        <div class="cell">
            <a href="__APP__/article/index/aid/{$vo.id}" target="_blank"><img src="{$vo.thumbpic}" width="214" height="211" alt="{$vo.title}"><span>{$vo.title}</span></a>
        </div>
      </volist>
      <div class="clear"></div>
   <div class="pagelist">
      <ul>
       {$page}
     </ul>
    </div>
   </div>

  <div class="right">
    <div class="con_list">
        <h2 style="font-size:20px;" class="tit">网站公告栏</h2>
        <p class="con">*  本公司是做厂家直销，全部一手货源，产品齐全、价格低廉，承诺比市场零售价低20%--30%，很多外地客户都从我们这里批发拿货。</p>
        <p>产品可享受一年无忧售后服务！欢迎您亲临本公司实地考察、免费体验产品或者技术效果、满意再买再学。</p>
    </div>
    
    <div class="add">
      <img src="__Res__/images/add2.gif" alt="">
    </div>
     <div class="con_list">
        <h2 style="font-size:20px;" class="tit">最新技术推荐</h2>
        <ul>
          <volist name='list' id='vo' offset='1' length='7'>
            <li><a href="__APP__/article/index/aid/{$vo.id}"> {$vo.title} </a></li>
          </volist>
        </ul>
    </div>

     <div class="con_list">
        <h2 style="font-size:20px;" class="tit">联系我们</h2>
        <dl class="contact">
          <dt>联系人：邱小姐</dt>
          <dt>电话：181-2426-7558</dt>
          <dt>咨询： 020-2988-3713</dt>
          <dd>联系地址：广州市白云区三元里大道909-911号粤海商务中心五楼正厅【远景路口东江大酒店正对面】</dd>
        </dl>

    </div>
  </div>
 
</div>
<div class="clear"></div>
<include file='Public/footer' />