<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   <title>微信视频分享系统 V1.0</title>
   <load href="__JS__/jquery.min.js" />
   <load href="__CSS__/bootstrap.min.css" />
   <load href="__CSS__/weixin_video.css" />
</head>
<style>
	.middle{
		width:100%;
		padding:25px;
	}
</style>
<body>
<form action="__URL__/create" method='post' enctype="multipart/form-data">
<div class="middle">
	<center><a href="__URL__/index/type/all" class="btn btn-info">视频列表</a > <a href="__URL__/add" class="btn btn-info">添加资源</a > <a href="__URL__/histroy" class="btn btn-info">查看历史</a ></center><hr>
    
    <div class="form-group">
    	<label for="search_title" class="control-label">搜索视频:</label><input type="text" class="form-control" name="search_title" placeholder="点击这里输入关键词">
    </div>

	<div class="form-group">
		<label for="id" class="control-label">分享视频:</label>
		<select name="id" class='form-control'>
			<option value="null">点击这里选择一个视频</option>
			<volist name="data" id='list'>
				<option value="{$list.id}">({$list.id}){$list.title}</option>
			</volist>
			</volist>
		</select>
    </div>

	<hr>

	<button class="btn btn-success">提交操作</button>
	<input type="reset" value='重新输入' class="btn btn-danger" />
</div>

</form>
<include file="Video/footer" />