<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>处理结果</title>
   <load href="__JS__/jquery.min.js" />
   <load href="__CSS__/bootstrap.min.css" />
   <load href="__CSS__/weixin_video.css" />
</head>
<style>
	.middle{
		width:100%;
		padding:25px;
	}
</style>
<body>
<div class="middle">
<center><a href="__URL__/" class="btn btn-info">回到首页</a > <a href="__URL__/histroy" class="btn btn-info">查看生成历史</a ></center><hr>
<h2>生成成功！</h2>
<h4><a target="_blank" href='{$path}'>{$title}</a></h4>
</div>
<include file="Video/footer" />