<include file='Index/head' />
<load href="__CSS__/admin.css" />
	<div class="col-sm-12">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<h2>文章列表</h2>
		</div>
	</div>
	<div class="col-sm-12"> <hr> </div>
	<div class="col-sm-2">
					<select name="pid" id="select" class='form-control' onchange="showArticle(this.value);">
						<option class='opt' value="all">所有文章</option>
						<volist name='columnsData' id='list'>
							<option value="{$list.id}">{$list.title}</option>
						</volist>
					</select>
					<script>
						function showArticle(pid){
							var url = "__URL__/index/pid/"+pid;
							window.location.href=url;
						}
					</script>
	</div>
	<div class="clear"></div><br><br><br><br><br><br><br><br>
	<div class="col-sm-12">
		<form action="__URL__/del" method='post' >
		<table class='table table-striped  table-bordered  table-hover'>
			<tr>
				<th><a href="javascript:void(0);" class='all_select'>全选</a>/<a class='del_select' href="javascript:void(0);">反选</a></th><th>产品ID</th><th>产品标题</th><th>栏目ID</th> <th>评论</th><th>审核</th><th>浏览量</th><th>操　　作</th><th>添加时间</th>
			</tr>
		
		<volist name='data' id='list' empty="没有文章">

			<tr class='list'>
				<td style="width:80px;"><input type="checkbox" class='id' name='ids[]' value='{$list.id}'></td><td>{$list.id}</td><td><a target='main' href="__URL__/mod/id/{$list.id}">{$list.title}</a></td><td>{$list.pid}</td><td><span class='glyphicon glyphicon-ok'></span></td><td><span class='glyphicon glyphicon-remove'></span></td><td>{$list.views}</td><td><span class='glyphicon glyphicon-pencil'></span> <a target='main' href="__URL__/mod/id/{$list.id}">修改</a>&nbsp;｜&nbsp;<span class='glyphicon glyphicon-trash'></span> <a href="__APP__/Article/del/id/{$list.id}">删除</a>&nbsp;｜&nbsp;<span class='glyphicon glyphicon-globe'></span> <a target='_blank' href="/index.php/article/index/aid/{$list.id}">浏览</a></td><td>{$list.posttime|date="y-m-d H:i:s",###}</td>
			</tr>

		</volist>

	</table>
	<button class='btn btn-primary'>删除已选</button>
	</div>
	<div class="col-sm-12">
	    <div class="col-sm-4"></div>
	    <div class="col-sm-4 page">{$page}</div>
	    <div class="col-sm-4"></div>
	</div>

<script>
			$(".all_select").click(function(){
					$(".id").attr("checked","checked");
			});

			$(".del_select").click(function(){
					$(".id").removeAttr("checked");
			});

</script>
	
</form>
</body>
</html>