<include file='Index/head' />
<div class="col-sm-12">
	<div class="col-sm-5">
		<h1>添加栏目</h1>
		<hr>
			<form action='__URL__/insert' method='post' class="form-horizontal" role="form">
				<input type="hidden" name='type' value='add'>
			   <div class="form-group">
			      <label for="firstname" class="col-sm-4 control-label">选择父栏目</label>
			      <div class="col-sm-6">
				      <select class="form-control" name='pid'>
					        <option value="0">|--根目录--</option>
					      	<volist name="data" id="list">
					        	<option value="{$list.id}">|-{$list.title}</option>
					      	</volist>
				      </select>
			      </div>
			      
			   </div>

			   <div class="form-group">
			      <label for="firstname" class="col-sm-4 control-label">栏目名称</label>
			      <div class="col-sm-6">
			         <input type="text" class="form-control" name='title' id="firstname" 
			            placeholder="请输入栏目名称">
			      </div>
			   </div>

			   <div class="form-group">
			      <label for="firstname" class="col-sm-4 control-label">栏目描述</label>
			      <div class="col-sm-8">
			          <textarea class="form-control" name='description' rows="3" placeholder="请输入栏目介绍"></textarea>
			      </div>
			   </div>
  

			   <div class="form-group">
			      <div class="col-sm-offset-2 col-sm-12">
			          <div class="checkbox">
					      	<div class="col-sm-4"> 
					      		<label for="remeber"></label>
					      		<label >
					      			<input type="checkbox" {$Think.session.checked} name='remeber' value='true'>记住父栏目
					      		</label> 
					      	</div>

					      	<div class="col-sm-4"> 
					      		<label for="remeber"></label>
					      		<label >
					      			<input type="checkbox" checked name='display' value='1'>是否显示
					      		</label> 
					      	</div>
					   </div>
			      </div>
			   </div>

			   <div class="form-group">
			      <div class="col-sm-offset-2 col-sm-10">
			         <button type="submit" class="btn btn-primary">添加</button>
			      </div>
			   </div>

			</form>
		
	</div>

</div>