<include file='Index/head' />
	<div class="col-sm-12">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<h1>栏目列表</h1>
		</div><div class="col-sm-4"></div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-11">
				<form action="__URL__/del" method='post' >
				<table class='table   table-bordered  table-hover'>
						<caption></caption>
						<tr>
							<th><a class='all_select'>全选</a></th><th>栏目名称</th><th>栏目简介</th><th>是否显示</th><th>创建时间</th><th>操　　作</th>
						</tr>
						

					<volist name='data' id='list'>

						<tr>
							<td style="width:80px;"><input id='id' type="checkbox" class='id' name='ids[]' value='{$list.id}' /></td>
							<td><a href="__URL__/mod/id/{$list.id}">{$list.title}</a></td>
							<td>{$list.description}</td>
							<td class='display'> 
								<script>var a = {$list.display} ; if(a === 1){document.write('<span class="glyphicon glyphicon-ok"></span>')}else{document.write('<span class="glyphicon glyphicon-remove"></span>')}</script></td>
							<td>{$list.ctime|date="Y-m-d",###}</td>
								<td><span class='glyphicon glyphicon-pencil'></span> <a href="__URL__/mod/id/{$list.id}">修改</a>&nbsp;｜&nbsp;<span class='glyphicon glyphicon-trash'></span> <a href="__URL__/del/id/{$list.id}">删除</a>&nbsp;｜&nbsp;<span class='glyphicon glyphicon-globe'></span> <a href="__APP__/Article/index/id/{$list.id}">文章列表</a></td>
						</tr>
					</volist>
				</table>
					<button class='btn btn-primary'>删除已选</button>
				</form>

			</div>
			
		</div>
			
		<div class="col-sm-1"></div>
	</div>
	
<script>
			$(".all_select").toggle(
			  function () {
			    alert(1);
			  },
			  function () {
			    alert(2);
			  }
			);
</script>
</body>
</html>
