<include file='Index/head' />
<div class="col-sm-12">
	<div class="col-sm-5">
		<h1>修改栏目信息</h1>
		<hr>
			<form action='__URL__/insert' method='post' class="form-horizontal" role="form">
				<input type="hidden" name='type' value='mod'>
			   <div class="form-group">
			      <label for="firstname" class="col-sm-4 control-label">栏目名称</label>
			      <div class="col-sm-6">
			         <input type="text" class="form-control" name='title' id="firstname" 
			            placeholder="请输入栏目名称" value="{$data.title}">
			      </div>
			   </div>
			   <div class="form-group">
			   	<input type="hidden" name='id' value='{$data.id}'>
			   	<input type="hidden" name='pid' value='{$data.pid}'>
			      <label for="firstname" class="col-sm-4 control-label">所属栏目</label>
			      <div class="col-sm-6">
				      <select class="form-control" name='modpid'>
					      	<option value="0">--根目录--</option>
				      		<volist name="cloumnsData" id='list'>
					      		<option class="opt_{$list.id}" value="{$list.id}">|-{$list.title}</option>
				      		</volist>
				      </select>
			      </div>
			      
			   </div>


			   <div class="form-group">
			      <label for="firstname" class="col-sm-4 control-label">栏目描述</label>
			      <div class="col-sm-8">
			          <textarea class="form-control" name='description' rows="8" placeholder="请输入栏目介绍">{$data.description}</textarea>
			      </div>
			   </div>
  

			   <div class="form-group">
			      <div class="col-sm-offset-2 col-sm-12">
			          <div class="checkbox">
					      	<div class="col-sm-4"> {$data.displayStatus} </div>
					   </div>

			      </div>
			   </div>

			   <div class="form-group">
			      <div class="col-sm-offset-2 col-sm-10">
			         <button type="submit" class="btn btn-primary">提交修改</button>
			      </div>
			   </div>

			</form>
		
	</div>

</div>
<script>
	$(".opt_{$select_id}").attr("selected",true);
</script>